:root {
    /* Primary */
    --text-color: #000000;
    --text-font-size: 12px; 
    /* Secondary */
    --text-color-secondary: rgba(0, 0, 0, 0.6063);
    /* Search Background */ 
    --bg-search: rgba(255, 255, 255, 0.5);
    --light-shell-base: rgba(243, 243, 243, 0.9);
    --light-shell-taskbar-stroke: Light/Shell/Taskbar/Stroke;
}   
* {
    margin: 0;
    padding: 0;
}
body {
    max-width: 1920px;
    max-height: 1080px;
    height: 100vh;
    background: no-repeat top center/cover url(Background/Desktop-light.png);
}
#taskbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    
    height: 48px;
    flex-shrink: 0;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--light-shell-base, url(Background/bgTaskbar.png), lightgray 0% 0% / 100px 100px repeat, linear-gradient(0deg, rgba(243, 243, 243, 0.00) 0%, rgba(243, 243, 243, 0.00) 100%), rgba(243, 243, 243, 0.90));
    background-blend-mode: normal, color, luminosity;
    
    /* Blurs/Blur - Acrylic */
    backdrop-filter: blur(30px);
}

/* Weather */
#weather {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 12px;
    margin: 4px 0 4px 12px;

    width: 141px;
    height: 38px;
    flex-shrink: 0;
}
#temperature {
    color: var(--light-colors-text-primary, rgba(0, 0, 0, 0.90));
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px; /* 116.667% */
}
#sunny {
    color: var(--light-colors-text-secondary, rgba(0, 0, 0, 0.61));
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
}

/* App icons */ 
#appIcons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4px;
    margin: 4px 0;
}
#start {
    display: flex;
    padding: 8px;
    justify-content: center;
    align-items: center;
}
#start:hover {
    border-radius: 4px;
    border: 1px solid var(--light-shell-taskbar-stroke, rgba(0, 0, 0, 0.06));
    background: var(--light-shell-taskbar-fill, rgba(255, 255, 255, 0.50));
}
#searchContainer {
    display: flex;
    width: 218px;
    height: 30px;
    padding-left: 0px;
    align-items: center;

    border-radius: 99px;
    border: 1px solid var(--light-shell-taskbar-stroke, rgba(0, 0, 0, 0.06));
    background: rgba(255, 255, 255, 0.50);
}
#searchContainer #searchLabel {
    display: flex;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
    padding-left: 11px;
    
    color: var(--text-color-secondary);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}
#search {
    cursor: text;
}
#illustration {
    width: 66px;
    height: 30px;
    flex-shrink: 0;
    border-radius: 99px;
}

#appIcons #appsTaskbar {
    display: flex;
    align-items: center;
    gap: 4px;
}
#appIcons #appsTaskbar span {
    display: flex;
    padding: 8px;
    justify-content: center;
    align-items: center;
}
#appIcons #appsTaskbar span:hover {
    border-radius: 4px;
    border: 1px solid var(--light-shell-taskbar-stroke, rgba(0, 0, 0, 0.06));
    background: var(--light-shell-taskbar-fill, rgba(255, 255, 255, 0.50));
}

/* System tray */
#systemTray {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 4px 16px 4px 0;
}
#overflow {
    width: 32px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#overflow img {
    width: 12.001px;
    height: 6.499px;
    flex-shrink: 0;

    fill: var(--light-colors-text-primary, rgba(0, 0, 0, 0.90));
}
#systemTray #quickSettings {
    display: flex;
    padding: 10px 6px;
    justify-content: center;
    align-items: center;
    gap: 3px;
    border-radius: 3px;
}
#systemTray #quickSettings div {
    display: flex;
    width: 20px;
    height: 20px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;

    color: var(--light-colors-text-primary, rgba(0, 0, 0, 0.90));
    text-align: center;
    font-family: Segoe Fluent Icons;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
#clock {
    display: flex;
    padding: 4px 0px 4px 8px;
    justify-content: flex-end;
    align-items: center;
}
#timeAndDate {
    color: var(--light-colors-text-primary, rgba(0, 0, 0, 0.90));
    text-align: right;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}